.title{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    background-color: peru;
   border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    z-index: 1;
    
}

.clients{
    /* border-bottom: 1px solid black; */
    margin: 20px 50px;
    border-radius: 5px;
}

.page-move{
    display:inline-block;
    width:40px;
    height: 30px;
    background-color: crimson;
    border-radius: 5px;
    margin: 5px 10px;
    border: none;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
}

.display-page{
    display:inline-block;
    width: 70px;
    height: 30px;
    margin: 35px 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
}
